<div class="row">
   <div class="col-md-9">
     <div class="card">
      <div class="card-body p-2">
      <%= image_tag url_for(@post.image), class: 'd-block w-100'%>
      </div>
   </div>
</div>

<div class="col-md-3">
<%= link_to @post.account.first_name.capitalize, visit_path(@post.account_id)%>

<p class="border-top mt-3 py-2">
<%if @post.description.present? %>
<%= @post.description %><br>

<% end %><br>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<span class="text-muted"><%= time_ago_in_words @post.created_at %> ago</span>
</p>

<%if @post.account == current_user%>
<%= link_to "Delete", post_path(@post), method: :delete %>
<%end%>
</div>
</div>

