
<div class="container">
<div class="row">
 <div class="col-8">
<% @posts.each do |post|%>
   
   <%if post.account != current_user%>
   <div class="insta-post">
   <div class="post-meta">
   <%= link_to post.account.user_name.capitalize, visit_path(post.account_id), class: "text-dark"%>

   </div>
       <%=image_tag url_for(post.image), class: "d-block w-100"%>
    <div class="post-details">
    <p><strong><%= link_to post.account.user_name.capitalize, visit_path(post.account_id), class: "text-dark"%></strong></p>
    <%=simple_format post.description%>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = post.likes.find { |like| like.account_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(post), method: :post %>
<% end %><br>


    
   
   <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
   
   <%= render "posts/comments", post: post%>
    </div>
    <div class="comment-sec">
   <%= form_for @comment do |f|%>
      <%= f.hidden_field :post_id, value: post.id%>
      <%=f.text_field :comment, placeholder: "Add comment..."%>
      <%=f.submit "Post", class: "btn btn-success float-right"%>
      <%end%>
    </div>
   </div>
<%end%>
<%end%>
</div>
</div>
</div>

   


