
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:account, :url => {:controller => 'accounts', :action => 'create'}) do |f| %>
    <p> First Name:</br> <%= f.text_field :first_name%> </p>
    <p> Last Name:</br> <%= f.text_field :last_name%> </p>
    <p> Username:</br> <%= f.text_field :user_name%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
    <%= f.submit :Signup %>

 
  <% end %>
</div>